<table class="list">
    <thead>
        <tr>
            <th></th>
            <th>Namn</th>
            <th>Typ</th>
            <th>Uppdaterad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><div class="dropbox"></div></td>
            <td colspan="4"><i>Dra en bild eller ett dokument hit för att bifoga den till sidan.</i></td>
        </tr>
        @foreach (var c in Model.Attachments) {
        <tr>
            <td><img src="@Url.Content("~/thumb/" + c.Id + "/50")" /></td>
            <td>@c.Filename</td>
            <td>@c.Type</td>
            <td>@c.Updated.ToString("yyyy-MM-dd")</td>
            <td class="buttons one">
                <a class="icon delete"></a></td>
        </tr>
        }
    </tbody>
</table>