<table class="list">
    <thead>
        <tr>
            <th></th>
            <th>Namn</th>
            <th>Typ</th>
            <th>Uppdaterad</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4"></td>
        </tr>
    </tfoot>
</table>